body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-top: 15%;
    background: linear-gradient(to right, #7ACE67, #FFC872);
    text-decoration: none;
}

h4 a{
    text-decoration: none;
    color: antiquewhite;
}

h3 {
    font-size: small;
    letter-spacing: 0;
}